
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->
<nav class="navbar navbar-default " role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-target="#navbarCollapse" data-toggle="collapse">
				<span class="sr-only">toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#/" class="navbar-brand">Recipes</a>
		</div>
		<!-- Collection of nav links and other content for toggling -->
		<div id="navbarCollapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#/addrecipe">Dodaj przepis</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/sign-in"><span class="fa fa-user"></span> Sign-in</a></li>
				<li><a href="#/login"><span class="fa fa-sign-in"></span> Log in</a></li>
			</ul>
		</div>
	</div>
</nav>