	
<link rel="stylesheet" href="../resources/css/bootstrap.css" />
<!-- <menu class=""></menu> -->

<form id="add-recipe-form" ng-controller="addRecipeController" class="" >
	<div class="row">
		<div class="h5 col-xs-2">Nazwa</div>
		<input class="col-xs-5 " type="text" id="inputRecipeName"
			placeholder="nazwa" ng-model="recipe.name" />
	</div>
	<div class="row">
		<div class="h6 col-xs-2">Czas przygotowania</div>
		<input class="col-xs-5" type="text" id="cookingTime"
			placeholder="w minutach" ng-model="recipe.cookingTime"/>
	</div>
	<div class="row">
		<div class="h6 col-xs-2">Poziom trudnosci</div>
		<select class="col-xs-4"r 
			ng-model="recipe.difficultLevel">
			<option value="" disabled selected>Wybierz poziom trudnosci</option>
			<option ng-repeat="difficultLevel in difficultLavelTypes">{{difficultLevel}}</option>
		</select>
	</div>

	<label ng-repeat="cuisineCategory in cuisineCategoryTypes">
	 <input type="checkbox"
		name="selectedFruits[]" 
		value="{{cuisineCategory}}"
		ng-checked="recipe.cuisineCategory.indexOf(cuisineCategory) > -1"
		ng-click="toggleSelectionCuisine(cuisineCategory)"/> 
		{{cuisineCategory}}
	</label>
	<!-- składniki  -->
	<div class="row">
		<div class="h5 col-xs-3" >Skladniki</div>
	</div>
	<div class="row" ng-repeat="ingr in recipe.ingredients">
		<input class="input-sm col-xs-3" type="text" id="ingridientName" placeholder="nazwa"
			ng-model="ingr.name"/>
		<input class="col-xs-3" type="text" id="ingridientAmmount" placeholder="ile"
			ng-model="ingr.amount">
		<select>
			<option ng-repeat="weight in weightTypes">{{weight}}</option>
		</select>
		<button class="btn btn-default fa fa-minus-square"
				ng-click="removeIngredint(ingr)"/>
	</div>
	<div class="row">
		<input class="col-xs-3" type="text" id="ingridient" placeholder="nazwa"
			ng-model="newIngredient.name">
		<input class="col-xs-3" type="text" id="ingridient" placeholder="ile"
			ng-model="newIngredient.amount">
		<select>
			<option ng-repeat="weight in weightTypes">{{weight}}</option>
		</select>
		<button type="submit" class="btn btn-default fa fa-plus-square"
			ng-click="addIngredient(newIngredient)"/>
	</div>
	
	<div class="row">
		<div class="h5 col-xs-3">Przygotowanie</div>
	</div>
	<div class="row" ng-repeat="desc in recipe.descriptions">
		<div>Krok {{$index + 1}}</div>
		<div class="row">
			<textarea class="input-sm col-xs-8" rows="5" type="text" id="descText" placeholder=""
				ng-model="desc.text"/>
		</div>
		<div class="row">
			<input class="col-xs-6" type="text" id="descPhoto" placeholder="ile"
				ng-model="desc.photo"/>
			<button class="btn btn-default fa fa-minus-square"
					ng-click="removeDescription(desc)"/>
		</div>
		<br/>
	</div>
	<div class="row">
		<div class="row">
			<textarea class="input-sm col-xs-8" rows="5" type="text" id="ingridient" placeholder="Krok"
				ng-model="newDescription.text"/>
		</div>
		<div class="row">
			<input class="col-xs-6" type="text" id="ingridient" placeholder="ile"
						ng-model="newDescription.photo">
			<button type="submit" class="btn btn-default fa fa-plus-square"
						ng-click="addDescription(newDescription)" />
		</div>
	</div>
</form>
