 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css" /> -->
<!-- <menu class=""></menu> -->
<div ng-controller="mainController">
	<div class="row" ng-repeat="recipe in recipes">
		<div class="col-xs-5 col-sm-2 ">
			<a ng-href="#/recipe/{{recipe.id}}">
				<h6 class="text-uppercase">{{recipe.name}}</h6>
			</a>
		</div>
		<div class="col-xs-6 col-sm-3" >
			<img class="img-thumbnail" width="170" height="150" ng-show="recipe.photo"
				ng-src="data:image/jpg;base64,{{recipe.photo}}"
			>
		</div>
		<div class="col-xs-12 col-sm-7">Lorem ipsum dolor sit amet, consectetur
			adipiscing elit. Curabitur a lectus non nulla aliquam rutrum non a purus.
			Suspendisse potenti. Cras lacinia elementum consequat. Proin enim augue,
			aliquam semper tempus et, gravida at nulla. Maecenas sodales vel leo id
			efficitur. Nam quis odio eget ante feugiat hendrerit ac quis odio. Fusce
			dignissim nibh et dolor feugiat lobortis. Cras feugiat ex id est luctus
			tempus non sed urna. Mauris gravida dui ac est consequat lobortis. Fusce
			fermentum imperdiet aliquam. Aliquam semper neque sapien, ac pulvinar sem
			sagittis vel.</div>
	</div>
</div>
