 <!-- 
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css"
/>  -->
 <form class="form-horizontal">
	<h1>{{message}}</h1>
	<div class="form-group">
		<label class="col-xs-2">Login</label> <input class="col-xs-3" type="text"
			required="required"
		>
	</div>
	<div class="form-group">
		<label class="col-xs-2">Hasło</label> <input class="col-xs-3" type="password"
			required="required"
		>
	</div>
	<button type="button" class="btn btn-default">Login</button>
</form>
 