
<!-- <script type="text/javascript">
	$(document).ready(function(){
		$("#signinModal").modal('show');
	});
</script> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css" /> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
<form class="form-horizontal">
	<h1>{{message}}</h1>
	<div class="form-group">
		<div class="col-xs-2">Zapisz sie</div>
		<a href="#" class="fa fa-facebook-square fa-2x"></a> <a href="#"
			class="fa fa-google-plus-square fa-2x"
		></a>
	</div>
	<div class="form-group">
		<label class="col-xs-2">Login</label> <input class="col-xs-3" type="text"
			required="required"
		>
	</div>
	<div class="form-group">
		<label class="col-xs-2">Hasło</label> <input class="col-xs-3" type="password"
			required="required"
		>
	</div>
	<div class="form-group">
		<label class="col-xs-2">Powtórz hasło</label> <input class="col-xs-3"
			type="password" required="required"
		>
	</div>
	<button type="button" class="btn btn-default">Login</button>
</form>
